{% extends "../base.html" %}

{% block title %}ورود{% endblock %}

{% block body %}
{% load static %}

  <div class="back-color-fit">
    <div class="container glassmorphism-form back-color-white shadow-lg rounded-top-lg">
        <div class="row">
            <div class="col-lg-7">
              <img src="{% static '' %}" class="img-fluid limitted-hight">
            </div>

            <div class="col-lg-5 flex-center flex-column">
                {% if messages %}
                {% for message in messages %}
                      <h6 class="font-bold">{{message}}<h6>
                {% endfor %}
                {% endif %}
                <h4 class="font-bold">ورود</h4>
                <form method='post' action='' class="full-width from-top-25" novalidate>
                    {% csrf_token %}
                    {{form.as_div}}
                    <input type='submit' value='ورود' class="btn btn-submit">
                </form>

                <div class="form-check"><a href="{% url 'signup' %}" class="center-icon-text from-top-10"><span class="material-symbols-outlined">
                  edit
                  </span>&nbsp; حساب ندارید؟ ایجاد حساب </a></div>
                <div class="form-check"><a href="{% url 'forgetpassword' %}" class="center-icon-text from-top-10"><span class="material-symbols-outlined">
                  key
                  </span>&nbsp; رمز عبور خود را فراموش کرده اید؟</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}